.vscode/**
.vscode-test/**
src/**
web/src/**
web/node_modules/**
web/package.json
web/tsconfig.json
web/vite.config.ts
web/index.html
node_modules/**
esbuild.config.mjs
tsconfig.json
**/*.ts
**/*.map
.gitignore
ARCHITECTURE.md

# ensure template is included
!templates/**