.vscode/**
.vscode-test/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/package.json
webview-ui/tsconfig.json
webview-ui/vite.config.ts
webview-ui/index.html
node_modules/**
esbuild.config.mjs
tsconfig.json
**/*.ts
**/*.map
.gitignore
ARCHITECTURE.md

# ensure template is included
!templates/**